#careboard {
	background: transparent url('../images/kpnw_bg_720x1280.jpg') no-repeat;
	overflow: hidden;
	color: white;
	font-family: Bitstream Vera Sans;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	padding: 0;				
}

#careboard.rotate90 {
	background-image: url('../images/kpnw_bg_1280x720.jpg');
}

#careboard.rotateminus90 {
	background-image: url('../images/kpnw_bg_1280x720_reverse.jpg');
}

#careboard p {
	text-align: left;
	margin: 0;
	padding: 2px 0;
}

#careboard #view {
	width: 720px;
	height: 1280px;
}

#careboard.rotate90  #view{
	transform: rotate(90deg);	/* CSS 3 */
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#careboard.rotateminus90  #view{
	transform: rotate(-90deg);	/* CSS 3 */
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}


#careboard #view > div.active {
	border: 4px solid #ffffff;
}



#careboard div.header {
	font-size: 32px;
	font-weight: bold;
	color: #d5f37b;
	text-align: center;
}

#careboard div.header2 {
	font-size: 20px;
	font-weight: bolder;
	color:  #ffff00;
}


#careboard #basicinfo {
	position: absolute;
	left: 21px;
	top: 8px;
	width: 623px;
	height: 102px;
	padding: 5px 25px;
	text-align: center;
}

#careboard #basicinfo #name {
	font-size: 40px;
}

#careboard #basicinfo p {
	font-size: 24px;
	color: #ffff99;
	text-align: center;
}

#careboard #careteam {
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	left: 76px;
	top: 130px;
	width: 512px;
	height: 414px;
	padding: 2px 23px;
}

#careboard #goals {
	position: absolute;	
	left: 29px;
	top: 459px;
	width: 297px;
	height: 174px;
	padding: 5px 23px;
}

#careboard #goals p {
	line-height: 25px;
}

#careboard #dischargedate {
	position: absolute;
	left: 29px;
	top: 570px;
	width: 297px;
	height: 30px;
	padding: 10px 23px;	
}


#careboard #activity {
	position: absolute;
	left: 366px;
	top: 459px;
	width: 297px;
	height: 156px;
	padding: 8px 15px;
	float: left;
	font-size: 22px;
	line-height: 28px;
}

#careboard #activity p {
	line-height: 23px;
}

#careboard #drawing {
	position: absolute;
	left: 49px;
	top: 650px;
	width: 612px;
	height: 231px;
	padding: 0;
}

#careboard #diet {
	position: absolute;
	left: 29px;
	top: 860px;
	width: 620px;
	height: 156px;
	padding: 5px 15px;
	float: left;
	font-size: 20px;
}

#careboard #diet p {
	line-height: 25px;
	text-align: center;
}


#careboard #clinical {
	position: absolute;
	left: 82px;
	top: 972px;
	width: 545px;
	height: 126px;
	padding: 5px 10px;
	text-align: center;
}

#careboard #clinical p {
	text-align: center;
}

#careboard #clinical #icons {
	margin: 5px auto;
	display: inline-block;
}

#careboard #clinical #icons div.icon {
	width: 60px;
	height: 60px;
	float: left;
}

#careboard #clinical #icons #visual {
	background: url('../images/icon_visuallyimpaired.png') no-repeat;
}

#careboard #clinical #icons #hearing {
	background: url('../images/icon_hearingimpaired.png') no-repeat;
}

#careboard #clinical #icons #fall {
	background: url('../images/icon_fallrisk.png') no-repeat;
}

#careboard #clinical #icons #dentures {
	background: url('../images/icon_dentures.png') no-repeat;
}

#careboard #clinical #icons #skin {
	background: url('../images/icon_skin.png') no-repeat;
}


#careboard #supportperson {
	position: absolute;
	left: 82px;
	top: 1119px;
	width: 507px;
	height: 80px;
	padding: 10px 25px;
}

#careboard #supportperson p {
	text-align: center;
}

#careboard #supportperson p span.name, #careboard #supportperson p span.tel{
	margin: 0 15px;
}

#careboard #revision {
	position: absolute;
	top: 1250px;
	left: 32px;
	font-size: 18px;
	color: #ffffff;
	z-index: 9;
}
