* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	list-style: none;
}

html {
	
}

body {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,1.0);
	/*overflow: hidden;*/
}

div#app {
	width: 1280px;
	height: 720px;
	background: rgba(0,0,0,1.0);
	color: rgba(255,255,255,1.0);
	font-family: "Bitstream Vera Sans",Arial,sans-serif;
	font-weight: normal;
	overflow: hidden;
}

div#app.mobile {
	width: 100%;
	height: 1280px;
}

.clear {
	clear: both;
}

#content {
	
}

/* loading... */
#loading {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 999990;
	text-align: center;	
}

#loading #loadinginfo {
	left: -50%;
	margin: 25px auto;
	background: #353535;
	color: #ddd;
	display: inline-block;
	position: relative;
}


#loading #loadinginfo p {
	font-size: 14px;
	padding: 10px 25px;
}

#debuginfo{
	display:none;
	background: #333;
	border: 2px solid #ddd;
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	margin:-130px 0 0 -260px;
	padding: 10px;
	width:520px;
	z-index: 999999;
	box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 10px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    font-size: 16px;
}

#debuginfo h1{
	font-size: 26px;
	color:#888;
	margin-bottom: 15px;
	text-align: center;
}

#debuginfo li h2{
	font-size: 16px;
	width: 220px;
	float: left;
	line-height:1.4;
}

#debuginfo li p{
	font-size: 16px;
	width: 280px;
	float: right;
	line-height:1.4;
}

#preload	{
	display: none;
}







