#discharged {
	background: transparent no-repeat;
	overflow: hidden;
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;				
}

#discharged.rotate90 {
	background-image: url('../images/kpnw_discharged_1280x720.jpg');
}

#discharged.rotateminus90 {
	background-image: url('../images/kpnw_discharged_1280x720_reverse.jpg');
}

#discharged p {
	text-align: left;
	margin: 0;
	padding: 2px 0;
}

#discharged #view {
	width: 720px;
	height: 1280px;
}

#discharged.rotate90  #view {
	transform: rotate(90deg);	/* CSS 3 */
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#discharged.rotateminus90  #view {
	transform: rotate(-90deg);	/* CSS 3 */
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	margin: -280px 0 0 280px;
	overflow: hidden;
}

#discharged #time {
	position: absolute;
	right: 50px;
	top: 30px;
	font-size: 24px;
	text-shadow: 1px 1px 5px #000;
	text-align: left;
}

#discharged #info {
	position: absolute;
	left: 76px;
	top: 368px;
	width: 512px;
	height: 400px;
	padding: 5px 23px;
	text-align: center;
	font-size: 30px;
}

#discharged #info p {
	text-align: center;
	text-shadow: 1px 1px 5px #000;
}
